<div class="chat-container" id="chat-container">

</div>
<input id="chat-input" type="text" placeholder="Write a message!"/>

<script src="/static/js/home.js"></script>
<link rel="stylesheet" href="/static/css/home.css"/>